body { background: #996983; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 24px; display: flex; }
.block-cluster-0 { color: #f537ad; font-size: 13px; margin-bottom: 5px; }
.block-filter-1 { color: #64b6fb; font-size: 12px; margin-bottom: 5px; }
.block-logger-2 { color: #277064; font-size: 18px; margin-bottom: 5px; }
.block-email-3 { color: #6ea197; font-size: 21px; margin-bottom: 5px; }
.block-order-4 { color: #6e3365; font-size: 12px; margin-bottom: 5px; }
.block-user-5 { color: #7ff6b; font-size: 15px; margin-bottom: 5px; }
.block-cluster-6 { color: #342d8f; font-size: 15px; margin-bottom: 5px; }
.block-payment-7 { color: #ed574a; font-size: 21px; margin-bottom: 5px; }
.block-cluster-8 { color: #8222; font-size: 13px; margin-bottom: 5px; }
.block-invoice-9 { color: #b6c456; font-size: 21px; margin-bottom: 5px; }
.block-cart-10 { color: #50a6d2; font-size: 16px; margin-bottom: 5px; }
.block-payment-11 { color: #b657ef; font-size: 12px; margin-bottom: 5px; }